.wrapper {
  margin: 1rem 0;
  width: 800px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.wrapper_highlight {
  margin: 1rem 0;
  width: 800px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: red;
}

.cell {
  font-size: 1rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}